<link rel="stylesheet" href="css/Search-Field-With-Icon.css">

<div class="search-container" style="padding-left: 150px;padding-right: 150px;">
    <input type="text" class="search-input" name="search-bar" placeholder="Search..."><button class="btn btn-light search-btn" type="button">
         <i class="fa fa-search"></i>
        </button>
</div>
<!-- <button class="btn btn-primary" type="button" style="margin-top: 67px;margin-left: 150px;">Button</button> -->
<button type="button" style="margin-left: 150px; margin-bottom: 15px;" class="btn btn-primary btn-sm" (click)="showSupplierForm = !showSupplierForm">
    Add Supplier
   </button>
<div *ngIf="showSupplierForm" class="supplier-form">
        <div class="rf-register-form" style="padding-left: 12px;padding-right: 12px;margin-left: 122px;margin-right: 122px;padding-top: 26px;">
            <form class="rg-form" (ngSubmit)="addSupplier()">
                <div class="rf-input-container">
                    <label for="supplier_name"> Supplier Name</label>
                    <input type="text" name="supplier_name" class="form-control rf-input-field" id="supplier_name" [(ngModel)]="newSupplier.supplier_name" required>
                </div>
                <div class="rf-input-container">
                    <label for="contact_email"> Supplier Email</label>
        <input type="email" name="contact_email"  class="form-control rf-input-field"  id="contact_email" [(ngModel)]="newSupplier.contact_email" required>
                </div>
                <div class="rf-input-container">
                    <label for="contact_phone"> Supplier Phone Number</label>
                    <input type="text" name="contact_phone" c class="form-control rf-input-field"  id="contact_phone" [(ngModel)]="newSupplier.contact_phone" required>
                </div>
                <button class="btn btn-primary rf-btn" type="submit">
                    Create Suplier
                </button>
            </form>
        </div>
       

</div>
<!-- edit Suplierform -->
<!-- <div *ngIf="showEditForm" class="rf-register-form" style="margin-left: 80px;margin-right: 80px;margin-top: 60px;">
    <form (ngSubmit)="updateSupplier()" class="rg-form">
        <div class="rf-input-container">
            <label for="editSupplier_name">Name</label>
            <input class="form-control rf-input-field" type="text" id="editSupplier_name" [(ngModel)]="activeSupplier.supplier_name" name="editSupplier_name">
        </div>
        <div class="rf-input-container">
            <label for="editSupplier_email">Email</label>
            <input class="form-control rf-input-field" type="email" id="editSupplier_email" [(ngModel)]="activeSupplier.contact_email" name="editSupplier_email">
        </div>
        <div class="rf-input-container">
            <label for="editSupplier_phoneNumber">Phone Number</label>
            <input class="form-control rf-input-field" type="number" id="editSupplier_phoneNumber" [(ngModel)]="activeSupplier.contact_phone" name="editSupplier_phoneNumber">
        </div>
        <button class="btn btn-primary rf-btn" type="submit">Update</button>
        <button class="btn btn-light rf-btn" type="button" (click)="showEditForm = false">Cancel</button>
    </form>
</div> -->

<div class="table-responsive" style="padding-left: 150px;padding-right: 150px;">

    <table class="table">
        <thead>
            <tr class="table-primary">
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-light" *ngFor="let supplier of suppliersList">
                <td>
                    <input *ngIf="supplier.isEditing" type="text"
                    [(ngModel)]="supplier.supplier_name" class="form-control">
                    <span *ngIf="!supplier.isEditing">
                        {{supplier.supplier_name}}
                    </span>
                </td>
                <td>{{supplier.contact_email}}</td>
                <td>{{supplier.contact_phone}}</td>
                <td class="text-center">
                    <!-- edit -->
                    <button (click)="editSupplier(supplier)" class="btn btnMaterial btn-flat success semicircle">
                        <i class="fas fa-pen"></i>
                    </button>
                    <!-- softDelete -->
                    <button class="btn btnMaterial btn-flat accent btnNoBorders checkboxHover" (click)="softDeleteSupplier(supplier.supplier_id)">
                        <i class="fas fa-trash btnNoBorders" style="color: #DC3545;"></i>
                    </button>
                </td>
            </tr>
            <tr *ngIf="suppliersList?.length === 0">
                <td>no suppliers available</td>
              </tr>
        </tbody>
    </table>
</div>
