
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/Search-Field-With-Icon.css">

    <div class="search-container" style="padding-left: 150px;padding-right: 150px;"><input type="text" class="search-input" name="search-bar" placeholder="Search..."><button class="btn btn-light search-btn" type="button"> <i class="fa fa-search"></i></button></div>
    <div class="table-responsive" style="padding-left: 150px;padding-right: 150px;">
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th>Order ID</th>
                    <th>Tracking Number</th>
                    <th>Estimated Arrival</th>
                    <th>Shipping Company</th>
                    <!-- <th>Order Status</th> -->
                </tr>
            </thead>
            <tbody>
                <tr class="table-light" *ngFor="let order of orders">
                    <td>{{order.order}}</td>
                    <td>{{order.tracking_number}}</td>
                    <td>{{order.est_delivery_date}}</td>
                    <td>{{order.shipping_company}}</td>
                    <!-- <td>{{order.current_status}}</td> -->
                </tr>
                <tr *ngIf="orders?.length === 0">
                    <td>no orders available</td>
                  </tr>
            </tbody>
        </table>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
