<div>
    <div class="row">
        <div class="col">
            <h1 style="padding-bottom: 0px;margin-bottom: 0px;padding-left: 30px;margin-top: 30px;">Welcome, {{ profile.Fname }}!</h1>
        </div>
        <div class="col" style="text-align: right;margin-top: 44px;margin-right: 30px;"><strong>Data up to 00:00 PM</strong></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="padding-top: 30px;padding-left: 30px;padding-bottom: 30px;border-style: none;padding-right: 16px;">
                <div class="card-header" style="box-shadow: 0px 0px 5px var(--bs-secondary-color);">
                    <h5 class="mb-0">Quick Actions</h5>
                </div>
                <div class="card-body" style="border-width: 0px;box-shadow: 0px 0px 5px var(--bs-secondary-color);">
                    <p class="card-text" style="border-right-width: 1px;">
                        <a href="/orders-summary">Orders Summary</a><br><br>
                        <span style="font-weight: normal !important; font-style: normal !important;"><a href="/customer-order">Find Customer Order</a></span><br><br>
                        <span style="font-weight: normal !important; font-style: normal !important;"><a href="/itemList">Item List</a></span><br><br>
                        <span style="font-weight: normal !important; font-style: normal !important;"><a href="/suppliers">Supplier List</a></span><br><br>
                        <span style="font-weight: normal !important; font-style: normal !important;"><a href="#">Forecasting Preferences</a></span><br><br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col" style="padding-top: 30px;">
            <div class="card" style="margin-bottom: 30px;margin-left: 16px;margin-right: 30px;">
                <div class="card-body" style="box-shadow: 0px 0px 5px var(--bs-secondary-color);">
                    <h4 class="card-title">Net Sales</h4>
                    <h6 class="text-muted card-subtitle mb-2">Today</h6>
                    <p class="fs-2 card-text">${{ sales.net_sales }}</p>
                </div>
            </div>
            <div class="card" style="margin-left: 16px;margin-right: 30px;">
                <div class="card-body" style="box-shadow: 0px 0px 5px var(--bs-secondary-color);">
                    <h4 class="card-title">Total Orders</h4>
                    <h6 class="text-muted card-subtitle mb-2">Today</h6>
                    <p class="fs-2 card-text">{{ orders.total_orders }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="margin-left: 30px;">
                <div class="card-body" style="box-shadow: 0px 0px 4px var(--bs-secondary-color);">
                    <h4 class="card-title">Net Purchases by Category</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="padding-right: 64px;">Type</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                </tr>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                </tr>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                </tr>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body" style="box-shadow: 0px 0px 4px var(--bs-secondary-color);">
                    <h4 class="card-title">Net Purchases by Item</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="padding-right: 64px;">Type</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                </tr>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                </tr>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                </tr>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="margin-right: 30px;">
                <div class="card-body" style="box-shadow: 0px 0px 4px var(--bs-secondary-color);">
                    <h4 class="card-title">Breakdown</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="padding-right: 64px;">Type</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                </tr>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                </tr>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                </tr>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
