<div>
    <div class="row">
        <div class="col">
            <h1 style="padding-bottom: 0px;margin-bottom: 0px;padding-left: 30px;margin-top: 30px;">Welcome, {{ profile.Fname }}!</h1>
        </div>
        <div class="col" style="text-align: right;margin-top: 44px;margin-right: 30px;"><strong>Data up to {{ currentTime | date: 'shortTime' }}</strong></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="padding-top: 30px;padding-left: 30px;padding-bottom: 30px;border-style: none;padding-right: 16px;">
                <div class="card-header" style="box-shadow: 0px 0px 5px var(--bs-secondary-color);">
                    <h5 class="mb-0">Quick Actions</h5>
                </div>
                <div class="card-body" style="border-width: 0px;box-shadow: 0px 0px 5px var(--bs-secondary-color);">
                    <p class="card-text" style="border-right-width: 1px;">
                        <a href="/orders-summary">Orders Summary</a><br><br>
                        <span style="font-weight: normal !important; font-style: normal !important;"><a href="/customer-order">Find Customer Order</a></span><br><br>
                        <span style="font-weight: normal !important; font-style: normal !important;"><a href="/itemList">Item List</a></span><br><br>
                        <span style="font-weight: normal !important; font-style: normal !important;"><a href="/suppliers">Supplier List</a></span><br><br>
                        <span style="font-weight: normal !important; font-style: normal !important;"><a href="#">Forecasting Preferences</a></span><br><br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col" style="padding-top: 30px;">
            <div class="card" style="margin-bottom: 30px;margin-left: 16px;margin-right: 30px;">
                <div class="card-body" style="box-shadow: 0px 0px 5px var(--bs-secondary-color);">
                    <h4 class="card-title">Net Sales</h4>
                    <h6 class="text-muted card-subtitle mb-2">Today</h6>
                    <p class="fs-2 card-text">{{ sales.net_sales | currency:'USD':'symbol':'1.2-2'}}</p>
                </div>
            </div>
            <div class="card" style="margin-left: 16px;margin-right: 30px;">
                <div class="card-body" style="box-shadow: 0px 0px 5px var(--bs-secondary-color);">
                    <h4 class="card-title">Total Orders</h4>
                    <h6 class="text-muted card-subtitle mb-2">Today</h6>
                    <p class="fs-2 card-text">{{ orders.total_orders }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="margin-left: 30px;">
                <div class="card-body" style="box-shadow: 0px 0px 4px var(--bs-secondary-color);">
                    <h4 class="card-title">Net Purchases by Category</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="padding-right: 64px;">Type</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of paginatedRowsByCategory">
                                    <td>{{ row.type }}</td>
                                    <td style="text-align: right;">{{ row.amount | currency:'USD':'symbol':'1.2-2'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Previous" (click)="changePageCategory(currentPageCategory - 1)">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>                        
                            <li *ngFor="let page of totalPagesArrayCategory" class="page-item" [class.active]="page === currentPageCategory">
                                <a class="page-link" href="javascript:void(0)" (click)="changePageCategory(page)">{{ page }}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Next" (click)="changePageCategory(currentPageCategory + 1)">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>                        
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body" style="box-shadow: 0px 0px 4px var(--bs-secondary-color);">
                    <h4 class="card-title">Net Purchases by Item</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="padding-right: 64px;">Item</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of paginatedRowsByItem">
                                    <td>{{ row.type }}</td>
                                    <td style="text-align: right;">{{ row.amount | currency:'USD':'symbol':'1.2-2'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Previous" (click)="changePageItem(currentPageItem - 1)">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>                        
                            <li *ngFor="let page of totalPagesArrayItem" class="page-item" [class.active]="page === currentPageItem">
                                <a class="page-link" href="javascript:void(0)" (click)="changePageItem(page)">{{ page }}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)" aria-label="Next" (click)="changePageItem(currentPageItem + 1)">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>                        
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="margin-right: 30px;">
              <div class="card-body" style="box-shadow: 0px 0px 4px var(--bs-secondary-color);">
                <h4 class="card-title">Breakdown</h4>
                <div *ngIf="errorMessage" class="alert alert-danger">
                  {{ errorMessage }}
                </div>
                <div class="table-responsive" *ngIf="breakdownData">
                  <table class="table">
                    <thead>
                      <tr>
                        <th style="padding-right: 64px;">Type</th>
                        <th>Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Total Customer Sales</td>
                        <td style="text-align: right;">{{ breakdownData.total_sales | currency: 'USD' }}</td>
                      </tr>
                      <tr>
                        <td>Total Supplier Purchases</td>
                        <td style="text-align: right;">{{ breakdownData.total_purchases | currency: 'USD' }}</td>
                      </tr>
                      <tr>
                        <td>Total Shipments</td>
                        <td style="text-align: right;">{{ breakdownData.total_shipments }}</td>
                      </tr>
                      <tr>
                        <td>Shipments Needing Attention</td>
                        <td style="text-align: right;">{{ breakdownData.shipments_needing_attention }}</td>
                      </tr>
                      <!-- Add more rows if needed for other key data points -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
