<link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
<link rel="stylesheet" href="/fonts/font-awesome.min.css">
<link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<link rel="stylesheet" href="/css/Login-Form-Basic-icons.css">
<link rel="stylesheet" href="/css/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.css">
<link rel="stylesheet" href="/css/Navabar.css">
<link rel="stylesheet" href="/css/Responsive-Active-Navbar.css">

<nav class="navbar navbar-expand-custom navbar-mainbg" style="--bs-primary: #c1c3c0;--bs-primary-rgb: 193,195,192;">
    <a class="navbar-brand navbar-logo" href="/dashboard"><img src="/img/Stockit%20Small.png" width="80" height="40"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-bs-label="Toggle navigation">
        <i class="fa fa-star fas fa-bars text-white"></i>
    </button>
    <a class="navbar-brand navbar-logo" href="/profile"><i class="far fa-user-circle" style="font-size: 34px;"></i>{{ profile.Fname }}</a>
    <div class="d-lg-flex justify-content-lg-end collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector">
                <div class="left"></div>
            </div>
            <li class="nav-item"><a class="nav-link" href="/inventory"><i class="fa fa-star far fa-clone"></i>Inventory</a></li>
            <li class="nav-item"><a class="nav-link" href="/audit"><i class="far fa-calendar far fa-calendar-alt"></i>Audit</a></li>
            <li class="nav-item"><a class="nav-link" href="/order"><i class="far fa-chart-bar far fa-chart-bar"></i>Orders</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-pie-chart far fa-copy"></i>Analytics</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-star far fa-copy"></i>Company</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
